In [10]:
import pandas as pd
def RemoveUnnamedColumn(filename):
    df = pd.read_csv('../Data/' + filename)
    df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
    df.to_csv("../Data/FinalData2021.csv", index=False)
RemoveUnnamedColumn('FinalData2021_Fixed_Weird_Rows.csv')

,Timestamp,Age,Industry,Job_Title,Annual_Salary,Currency,Work_Experience,Context_for_Job,Other,Other_Compensation,Context,Country,State,City,Highest_Level_of_Education,Gender,Race
0,4/27/2021 11:02,25-34,Education,Research and Instruction Librarian,55000,USD,5 - 7 years,NaN,NaN,0,NaN,United States of America,Massachusetts,Boston,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,80912.35,GBP,8 - 10 years,NaN,NaN,4000,NaN,United States of America,NaN,Cambridge,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,USD,2 - 4 years,NaN,NaN,NaN,NaN,United States of America,Tennessee,Chattanooga,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,65000,USD,8 - 10 years,NaN,NaN,3000,NaN,United States of America,Wisconsin,Milwaukee,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,67000,USD,8 - 10 years,NaN,NaN,7000,NaN,United States of America,South Carolina,Greenville,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26331,5/25/2021 10:39,45-54,Computing or Tech,Information Technology Professional,76480,USD,31 - 40 years,NaN,NaN,NaN,NaN,United States of America,Minnesota,Minneapolis,College degree,Woman,White
26332,5/25/2021 10:47,45-54,Health care,System Analyst,75000,USD,11 - 20 years,NaN,NaN,0,NaN,United States of America,Texas,Austin,Master's degree,Woman,White
26333,5/25/2021 10:50,25-34,Computing or Tech,Database Software Engineer,93000,USD,11 - 20 years,NaN,NaN,NaN,NaN,United States of America,Oregon,Portland,Master's degree,Woman,White
26334,5/25/2021 10:55,25-34,Business or Consulting,Senior Associate,161000,USD,8 - 10 years,NaN,NaN,10000,NaN,United States of America,New York,New York,Master's degree,Man,Asian or Asian American
26335,5/25/2021 12:04,25-34,Health care,"Director, Analytics",160000,USD,11 - 20 years,NaN,NaN,25000,NaN,United States of America,New York,NYC,College degree,Non-binary,White