In [39]:
import pandas
from ipynb.fs.full.RemoveSpacesFromHeaders import *

In [40]:
# In the "Work Experience" column, the "5 - 7 years" option
# is listed without spaces as "5-7 years"
# This function simply replaces all instances of "5-7 years"
# with "5 - 7 years"
def Normalize5to7(filename):
    df = pandas.read_csv('./' + filename+'.csv')
    df.replace(to_replace = ['5-7 years'], value = '5 - 7 years')
    return df

In [41]:
# Also in the "Work Experience" column, values < 1 year are
# written as "1 year or less." 
# This function replaces all instances of "1 year or less"
# with "0 - 1 years"
def Normalize1YearOrLess(df):
    df.replace(to_replace = ['1 year or less'], value = '0 - 1 years')
    return df

In [43]:
def NormalizeExperience(filename):
    df = pandas.read_csv(filename)
    df.replace(to_replace = ['5-7 years'], value = '5 - 7 years')
    df.replace(to_replace = ['1 year or less'], value = '0 - 1 years')
    return df
    

NormalizeExperience("../2021_Results.csv")

,Timestamp,Age,Industry,Job Title,Annual Salary,Currency,Work Experience,Context for Job,Other,Other Compensation,Context,Country,State,City,Highest Level of Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",USD,5-7 years,NaN,NaN,0.0,NaN,United States,Massachusetts,Boston,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",GBP,8 - 10 years,NaN,NaN,4000.0,NaN,United Kingdom,NaN,Cambridge,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",USD,2 - 4 years,NaN,NaN,NaN,NaN,US,Tennessee,Chattanooga,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,"62,000",USD,8 - 10 years,NaN,NaN,3000.0,NaN,USA,Wisconsin,Milwaukee,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",USD,8 - 10 years,NaN,NaN,7000.0,NaN,US,South Carolina,Greenville,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26334,5/25/2021 10:39:03,45-54,Computing or Tech,Information Technology Professional,76480,USD,31 - 40 years,NaN,NaN,NaN,NaN,USA,Minnesota,Minneapolis,College degree,Woman,White
26335,5/25/2021 10:47:06,45-54,Health care,System Analyst,75000,USD,11 - 20 years,NaN,NaN,0.0,NaN,United States,Texas,Austin,Master's degree,Woman,White
26336,5/25/2021 10:50:28,25-34,Computing or Tech,Database Software Engineer,93000,USD,11 - 20 years,NaN,NaN,NaN,NaN,United States,Oregon,Portland,Master's degree,Woman,White
26337,5/25/2021 10:55:57,25-34,Business or Consulting,Senior Associate,151000,USD,8 - 10 years,NaN,NaN,10000.0,NaN,United States,New York,New York,Master's degree,Man,Asian or Asian American
26338,5/25/2021 12:04:23,25-34,Health care,"Director, Analytics",135000,USD,11 - 20 years,NaN,NaN,25000.0,NaN,USA,New York,NYC,College degree,Non-binary,White